[Desktop Entry]
Encoding=UTF-8
Name=Login Window
Name[ar]=نافذة الولوج
Name[as]=প্ৰৱেশ উইন্ডো
Name[bg]=Екран за идентификация
Name[bn]=লগ-ইন উইন্ডো
Name[bn_IN]=লগ-ইন উইন্ডো
Name[ca]=Finestra d'entrada
Name[cs]=Přihlašovací okno
Name[cy]=Ffenestr Mewngofnodi
Name[da]=Logind-skærm
Name[de]=Anmeldefenster
Name[dz]=ནང་བསྐྱོད་སྒོ་སྒྲིག
Name[el]=Παράθυρο εισόδου
Name[en_CA]=Login Window
Name[en_GB]=Login Window
Name[es]=Ventana de entrada
Name[et]=Sisselogimisaken
Name[eu]=Saio-hasieraren pantaila
Name[fa]=پنجرهٔ ورود به سیستم
Name[fi]=Kirjautumisikkuna
Name[fr]=Fenêtre de connexion
Name[gl]=Ventá de inicio de sesión
Name[gu]=પ્રવેશ વિન્ડો
Name[he]=חלון התחברות
Name[hi]=लॉगइन विंडो
Name[hu]=Bejelentkező ablak
Name[id]=Jendela Login
Name[it]=Finestra di accesso
Name[ja]=ログイン画面
Name[ka]=შემოსასვლელი სარკმელი
Name[kn]=ದಾಖಲಾತಿ ವಿಂಡೋ
Name[ko]=로그인 창
Name[ku]=Paceya Têketinê
Name[lt]=Prisijungimo langas
Name[lv]=Pieslēgšanās logs
Name[mg]=Fikandran'ny fidirana
Name[mk]=Прозорец за најава
Name[ml]=ലോഗിന്‍ ജാലകം
Name[nb]=Påloggingsskjerm
Name[ne]=सञ्झ्याल लगइन गर्नुहोस्
Name[nl]=Aanmeldvenster
Name[nn]=Innloggingsvindauge
Name[oc]=Fenèstra de connexion
Name[or]=ଲଗଇନ ୱିଣ୍ଡୋ
Name[pa]=ਲਾਗਇਨ ਵਿੰਡੋ
Name[pl]=Ekran logowania
Name[pt]=Janela de Início de Sessão
Name[pt_BR]=Janela de início de sessão
Name[ro]=Fereastră de autentificare
Name[ru]=Окно входа в систему
Name[si]=පිවිසුම් කවුළුව
Name[sk]=Prihlasovacie okno
Name[sl]=Prijavno okno
Name[sq]=Dritarja e hyrjes
Name[sr]=Прозор за пријаву
Name[sr@Latn]=Prozor za prijavu
Name[sv]=Inloggningsfönster
Name[ta]=நுழைவாயில்
Name[te]=ప్రవేశద్వార గవాక్షం
Name[th]=หน้าจอเข้าระบบ
Name[tr]=Giriş Penceresi
Name[uk]=Вікно входу у систему
Name[vi]=Cửa sổ đăng nhập
Name[zh_CN]=登录窗口
Name[zh_HK]=登入畫面
Name[zh_TW]=登入畫面
Comment=Configure LightDM login window appearance and behavior
Comment[ar]=إعداد مظهر وسلوك نافذة ولوج م‌ع‌ج 
Comment[bg]=Настройване на поведението и външния вид на екрана за идентификация
Comment[bn]=LightDM লগ-ইন উইন্ডোর চেহারা ও আচরণ কনফিগার করুন
Comment[bn_IN]=LightDM লগ-ইন উইন্ডোর চেহারা ও আচরণ কনফিগার করুন
Comment[ca]=Configureu la pantalla d'entrada
Comment[cs]=Nastavit vzhled a chování přihlašovacího okna LightDM
Comment[da]=Konfigurér LightDM logind-vinduets udseende og opførsel
Comment[de]=Aussehen und Verhalten des Anmeldefensters konfigurieren
Comment[dz]=ཇི་ཌི་ཨེམ་ནང་བསྐྱོད་སྒོ་སྒྲིག་ འབྱུངསྣང་དང་སྤྱོད་ལམ་ རིམ་སྒྲིག་འབད།
Comment[el]=Ρύθμιση εμφάνισης και συμπεριφοράς του παραθύρου εισόδου
Comment[en_CA]=Configure LightDM login window appearance and behaviour
Comment[en_GB]=Configure LightDM login window appearance and behaviour
Comment[es]=Configure la apariencia y comportamiento de la pantalla de entrada
Comment[et]=LightDM-i sisselogimisakna välimuse ja käitumise seadistamine
Comment[eu]=Konfiguratu LightDM saio-hasieraren pantailaren itxura eta portaera
Comment[fi]=Määritä LightDM-kirjautumisikkunan ulkoasu ja toiminta
Comment[fr]=Configurer l'apparence et le comportement de la fenêtre de connexion
Comment[gl]=Configurar a aparencia e comportamento da ventá de inicio de sesión do LightDM
Comment[gu]=LightDM પ્રવેશ વિન્ડો દેખાવ અને વર્તણૂક રૂપરેખાંકિત કરો
Comment[hi]=LightDM लॉगिन विंडो प्रकटन व आचरण विन्यस्त करें
Comment[hu]=A bejelentkezéskezelő ablak megjelenésének és viselkedésének beállítása
Comment[it]=Configura l'aspetto e il comportamento della finestra di accesso di LightDM
Comment[ja]=LightDM ログイン画面の外観や動作を変更します
Comment[kn]=LightDM ಪ್ರವೇಶ ಕಿಟಕಿಯ ರೂಪ ಹಾಗು ವರ್ತನೆಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=LightDM 로그인 창 모양 및 동작 설정
Comment[lt]=Konfigūruoti LightDM prisijungimo lango išvaizdą bei veikimą
Comment[lv]=Konfigurēt LightDM pieslēgšanās loga izskatu un uzvedību
Comment[mk]=Конфигурирај го изгледот на најавниот прозорец на LightDM и неговото однесување
Comment[ml]=LightDM ലോഗിന്‍ ജാലകം എങ്ങനെ എന്ന് ക്റമികരിക്കുക
Comment[nb]=Konfigurer utseende og oppførsel for påloggingsskjerm
Comment[ne]=जीडीएम लगइन सञ्झ्याल देखावट र व्यवहार कन्फिगर गर्नुहोस्
Comment[nl]=Stel het uiterlijk en gedrag in van de LightDM-aanmeldbeheerder.
Comment[nn]=Still inn åtferda og utsjåandet til påloggingsvindauget i LightDM
Comment[pa]=LightDM ਲਾਗਇਨ ਵਿੰਡੋ ਦਿੱਖ ਅਤੇ ਰਵੱਈਆ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wyglądu i działania ekranu logowania LightDM
Comment[pt]=Configurar a aparência e comportamento do ecrã de início de sessão do LightDM
Comment[pt_BR]=Configurar aparência e comportamento da janela de acesso do LightDM
Comment[ro]=Configurare fereastră de autentificare LightDM
Comment[ru]=Настройка внешнего вида и поведения экрана входа в систему LightDM
Comment[sk]=Nastaviť vzhľad a správanie prihlasovacieho okna
Comment[sl]=Nastavi obnašanje in videz prijavnega okna
Comment[sq]=Konfiguro paraqitjen dhe sjelljen e dritares së hyrjes LightDM
Comment[sv]=Konfigurera LightDM-inloggningsfönstrets utseende och beteende
Comment[ta]=ஜிடிஎம் நுழைவாயில் சாளர பார்வை மற்றும் நடத்தையை உருவமை.
Comment[te]=జిడియం ప్రవేశద్వారం గవాక్షం రూపం మరియు ప్రవర్తన రూపకరించు
Comment[th]=ปรับแต่งรูปโฉมและพฤติกรรมของหน้าจอเข้าระบบ LightDM
Comment[tr]=LightDM giriş ekranı görünüm ve davranışını yapılandır
Comment[uk]=Налаштовування зовнішнього вигляду та поведінки екрану входу у систему LightDM
Comment[vi]=Cấu hình diện mạo và ứng xử của cửa sổ đăng nhập LightDM
Comment[zh_CN]=配置 LightDM 登录窗口的外观和行为
Exec=lightdm-settings
Icon=lightdm-settings
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;System;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-KDE-SubstituteUID=true

