[Desktop Entry]
Encoding=UTF-8
Name=Login Window
Name[am]=የ መግቢያ መስኮት
Name[ar]=نافذة تسجيل الدخول
Name[ar_AR]=نافذة تسجيل الدخول
Name[ar_MA]=نافذة تسجيل الدخول
Name[bg]=Прозорец за влизане
Name[bg_BG]=Прозорец за влизане
Name[bn]=লগইন উইন্ডো
Name[bn_BD]=লগইন উইন্ডো
Name[bn_IN]=লগইন উইন্ডো
Name[ca]=Finestra d'inici de sessió
Name[ca@valencia]=Finestra d'inici de sessió
Name[ca_ES@valencia]=Finestra d'inici de sessió
Name[cs]=Přihlašovací okno
Name[cs_CZ]=Přihlašovací okno
Name[cy]=Ffenestr Mewngofnodi
Name[da]=Loginvindue
Name[de]=Anmeldefenster
Name[de_CH]=Anmeldefenster
Name[de_DE]=Anmeldefenster
Name[el]=Παράθυρο σύνδεσης
Name[eo]=Ensalutfenestro
Name[es]=Ventana de inicio de sesión
Name[es_419]=Ventana de inicio de sesión
Name[es_AR]=Ventana de inicio de sesión
Name[es_CL]=Ventana de inicio de sesión
Name[es_CO]=Ventana de inicio de sesión
Name[es_CR]=Ventana de inicio de sesión
Name[es_DO]=Ventana de inicio de sesión
Name[es_EC]=Ventana de inicio de sesión
Name[es_ES]=Ventana de inicio de sesión
Name[es_MX]=Ventana de inicio de sesión
Name[es_NI]=Ventana de inicio de sesión
Name[es_PA]=Ventana de inicio de sesión
Name[es_PE]=Ventana de inicio de sesión
Name[es_PR]=Ventana de inicio de sesión
Name[es_SV]=Ventana de inicio de sesión
Name[es_US]=Ventana de inicio de sesión
Name[es_UY]=Ventana de inicio de sesión
Name[es_VE]=Ventana de inicio de sesión
Name[et]=Sisselogimisaken
Name[eu]=Saio-hasieraren leihoa
Name[fi]=Kirjautumisikkuna
Name[fi_FI]=Kirjautumisikkuna
Name[fr]=Écran de connexion
Name[fr_CA]=Écran de connexion
Name[fr_FR]=Écran de connexion
Name[he]=חלון כניסה
Name[he_IL]=חלון כניסה
Name[hi]=लॉगिन विंडो
Name[hr]=Zaslon prijave
Name[hu]=Bejelentkezési ablak
Name[hu_HU]=Bejelentkezési ablak
Name[ia]=Fenestra de apertura de session
Name[id]=Jendela Login
Name[id_ID]=Jendela Login
Name[is]=Innskráningargluggi
Name[it]=Finestra di accesso
Name[it_IT]=Finestra di accesso
Name[ja]=ログイン画面
Name[ja_JP]=ログイン画面
Name[kab]=Asfaylu n unekcum
Name[kk]=Жүйеге кіру терезесі
Name[ko]=로그인 창
Name[ko_KR]=로그인 창
Name[ku]=Paceya têketinê
Name[ku_IQ]=Paceya têketinê
Name[lt]=Prisijungimo langas
Name[lt_LT]=Prisijungimo langas
Name[nap]=Fenestra d''o Login
Name[nb]=Innloggingsvindu
Name[nb_NO]=Innloggingsvindu
Name[ne]=लगइन उइन्डो
Name[nl]=Aanmeldvenster
Name[nl_NL]=Aanmeldvenster
Name[pl]=Okno logowania
Name[pl_PL]=Okno logowania
Name[pt]=Janela de Início de Sessão
Name[pt_BR]=Janela de Início de Sessão
Name[pt_PT]=Janela de Início de Sessão
Name[ro]=Fereastră de autentificare
Name[ro_RO]=Fereastră de autentificare
Name[ru]=Окно входа в систему
Name[sc]=Bentana de imbucada
Name[sk]=Prihlasovacie okno
Name[sk_SK]=Prihlasovacie okno
Name[sl]=Prijavno okno
Name[sl_SI]=Prijavno okno
Name[sr]=Прозор за пријаву
Name[sr@Latn]=Prozor za prijavu
Name[sr@cyrillic]=Прозор за пријаву
Name[sr@ije]=Прозор за пријаву
Name[sr@ijekavianlatin]=Прозор за пријаву
Name[sr@latin]=Prozor za prijavu
Name[sr_Cyrl]=Прозор за пријаву
Name[sr_RS]=Прозор за пријаву
Name[sr_RS@latin]=Prozor za prijavu
Name[sv]=Inloggningsfönster
Name[ta]=நுழைவுச் சாளரம்
Name[ta_LK]=நுழைவுச் சாளரம்
Name[th]=หน้าต่างการเข้าสู่ระบบ
Name[th_TH]=หน้าต่างการเข้าสู่ระบบ
Name[tr]=Giriş Ekranı
Name[uk]=Вікно входу у систему
Name[uk_UA]=Вікно входу у систему
Name[uz]=Логин ойнаси
Name[uz@Latn]=Логин ойнаси
Name[uz@cyrillic]=Логин ойнаси
Name[vi]=Màn hình đăng nhập
Name[vi_VN]=Màn hình đăng nhập
Name[zh]=登录窗口
Name[zh_CN]=登录窗口
Name[zh_HK]=登入視窗
Name[zh_TW]=登入視窗
Comment=Configure the login window
Comment[am]=የ መግቢያ መስኮት ማሰናጃ
Comment[ar]=تكوين نافذة تسجيل الدخول
Comment[ar_AR]=تكوين نافذة تسجيل الدخول
Comment[ar_MA]=تكوين نافذة تسجيل الدخول
Comment[bg]=Конфигуриране на прозореца за вписване
Comment[bg_BG]=Конфигуриране на прозореца за вписване
Comment[bn]=লগইন উইন্ডো কনফিগার করুন
Comment[bn_BD]=লগইন উইন্ডো কনফিগার করুন
Comment[bn_IN]=লগইন উইন্ডো কনফিগার করুন
Comment[ca]=Configureu la finestra d'inici de sessió
Comment[ca@valencia]=Configureu la finestra d'inici de sessió
Comment[ca_ES@valencia]=Configureu la finestra d'inici de sessió
Comment[cs]=Nastavit přihlašovací okno
Comment[cs_CZ]=Nastavit přihlašovací okno
Comment[cy]=Ffurfweddu'r ffeneste mewngofnodi
Comment[da]=Konfigurér loginvinduet
Comment[de]=Das Anmeldefenster konfigurieren
Comment[de_CH]=Das Anmeldefenster konfigurieren
Comment[de_DE]=Das Anmeldefenster konfigurieren
Comment[el]=Ρυθμίστε το παράθυρο σύνδεσης
Comment[eo]=Agordi ensalutfenestron
Comment[es]=Configurar la ventana de inicio de sesión
Comment[es_419]=Configurar la ventana de inicio de sesión
Comment[es_AR]=Configurar la ventana de inicio de sesión
Comment[es_CL]=Configurar la ventana de inicio de sesión
Comment[es_CO]=Configurar la ventana de inicio de sesión
Comment[es_CR]=Configurar la ventana de inicio de sesión
Comment[es_DO]=Configurar la ventana de inicio de sesión
Comment[es_EC]=Configurar la ventana de inicio de sesión
Comment[es_ES]=Configurar la ventana de inicio de sesión
Comment[es_MX]=Configurar la ventana de inicio de sesión
Comment[es_NI]=Configurar la ventana de inicio de sesión
Comment[es_PA]=Configurar la ventana de inicio de sesión
Comment[es_PE]=Configurar la ventana de inicio de sesión
Comment[es_PR]=Configurar la ventana de inicio de sesión
Comment[es_SV]=Configurar la ventana de inicio de sesión
Comment[es_US]=Configurar la ventana de inicio de sesión
Comment[es_UY]=Configurar la ventana de inicio de sesión
Comment[es_VE]=Configurar la ventana de inicio de sesión
Comment[et]=Sisselogimisakna seadistus
Comment[eu]=Konfiguratu saio hasierako leihoa
Comment[fi]=Konfiguroi kirjautumisikkuna
Comment[fi_FI]=Konfiguroi kirjautumisikkuna
Comment[fr]=Configuration de l'écran de connexion
Comment[fr_CA]=Configuration de l'écran de connexion
Comment[fr_FR]=Configuration de l'écran de connexion
Comment[he]=תיצור חלון הכניסה
Comment[he_IL]=תיצור חלון הכניסה
Comment[hi]=लॉगिन विंडो विन्यस्त करें
Comment[hr]=Prilagodi zaslon prijave
Comment[hu]=Bejelentkezési ablak beállítása
Comment[hu_HU]=Bejelentkezési ablak beállítása
Comment[ia]=Configurar le fenestra de connexion
Comment[is]=Stilla innskráningargluggann
Comment[it]=Configura la finestra di accesso
Comment[it_IT]=Configura la finestra di accesso
Comment[ja]=ログイン画面を設定
Comment[ja_JP]=ログイン画面を設定
Comment[kab]=Swel asfaylu n unekcum
Comment[ko]=로그인 창 설정
Comment[ko_KR]=로그인 창 설정
Comment[ku]=Têketina paceyê mîheng bike
Comment[ku_IQ]=Têketina paceyê mîheng bike
Comment[lt]=Konfigūruoti prisijungimo langą
Comment[lt_LT]=Konfigūruoti prisijungimo langą
Comment[nap]=Configura 'a fenestra d''o login
Comment[nb]=Konfigurér innloggingsvinduet
Comment[nb_NO]=Konfigurér innloggingsvinduet
Comment[nl]=Aanmeldvenster instellen
Comment[nl_NL]=Aanmeldvenster instellen
Comment[pl]=Konfiguruj okno logowania
Comment[pl_PL]=Konfiguruj okno logowania
Comment[pt]=Configurar janela de início de sessão
Comment[pt_BR]=Configure a janela de início de sessão
Comment[pt_PT]=Configurar janela de início de sessão
Comment[ro]=Configurare fereastră de autentificare
Comment[ro_RO]=Configurare fereastră de autentificare
Comment[ru]=Настроить окно входа в систему
Comment[sc]=Cunfigura sa bentana de imbucada
Comment[sk]=Nastavenie prihlasovacieho okna
Comment[sk_SK]=Nastavenie prihlasovacieho okna
Comment[sr]=Подесите прозор за пријаву
Comment[sr@Latn]=Podesite prozor za prijavu
Comment[sr@cyrillic]=Подесите прозор за пријаву
Comment[sr@ije]=Подесите прозор за пријаву
Comment[sr@ijekavianlatin]=Подесите прозор за пријаву
Comment[sr@latin]=Podesite prozor za prijavu
Comment[sr_Cyrl]=Подесите прозор за пријаву
Comment[sr_RS]=Подесите прозор за пријаву
Comment[sr_RS@latin]=Podesite prozor za prijavu
Comment[sv]=Konfigurera inloggningsfönstret
Comment[th]=กำหนดค่าหน้าต่างการเข้าสู่ระบบ
Comment[th_TH]=กำหนดค่าหน้าต่างการเข้าสู่ระบบ
Comment[tr]=Giriş ekranını yapılandır
Comment[uk]=Налаштування вікна входу у систему
Comment[uk_UA]=Налаштування вікна входу у систему
Comment[uz]=Логин ойнасини созлаш
Comment[uz@Latn]=Логин ойнасини созлаш
Comment[uz@cyrillic]=Логин ойнасини созлаш
Comment[vi]=Cấu hình màn hình đăng nhập
Comment[vi_VN]=Cấu hình màn hình đăng nhập
Comment[zh]=配置登录窗口
Comment[zh_CN]=配置登录窗口
Comment[zh_HK]=配置登入視窗
Comment[zh_TW]=設定登入視窗
Exec=pkexec lightdm-settings
Icon=lightdm-settings
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;System;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-KDE-SubstituteUID=true
