[Desktop Entry]
Encoding=UTF-8
Name=Login Window
Name[am]=የ መግቢያ መስኮት
Name[ar]=نافذة تسجيل الدخول
Name[ast]=Ventana d'aniciu de sesión
Name[be]=Акно ўваходу
Name[bg]=Прозорец за влизане
Name[bn]=লগইন উইন্ডো
Name[br]=Prenestr kennaskañ
Name[ca]=Finestra d'inici de sessió
Name[ca@valencia]=Finestra d'inici de sessió
Name[cs]=Přihlašovací okno
Name[cy]=Ffenestr Mewngofnodi
Name[da]=Loginvindue
Name[de]=Anmeldefenster
Name[el]=Παράθυρο σύνδεσης
Name[eo]=Ensalutfenestro
Name[es]=Ventana de inicio de sesión
Name[et]=Sisselogimisaken
Name[eu]=Saio-hasieraren leihoa
Name[fa]=پنجرهٔ ورود به سیستم
Name[fi]=Kirjautuminen
Name[fr]=Écran de connexion
Name[fr_CA]=Fenêtre de connexion
Name[ga]=Fuinneog Logála Isteach
Name[gl]=Xanela de acceso
Name[he]=חלון התחברות
Name[hi]=लॉगिन विंडो
Name[hr]=Zaslon prijave
Name[hu]=Bejelentkezési ablak
Name[ia]=Fenestra de apertura de session
Name[id]=Jendela Login
Name[ie]=Fenestre de inicie
Name[is]=Innskráningargluggi
Name[it]=Schermata di accesso
Name[ja]=ログイン画面
Name[ka]=შესვლის ფანჯარა
Name[kab]=Asfaylu n unekcum
Name[kk]=Жүйеге кіру терезесі
Name[ko]=로그인 창
Name[ku]=Paceya têketinê
Name[la]=Fenestra Ingressus
Name[lt]=Prisijungimo langas
Name[mai]=लोगिन विंडो
Name[mr]=प्रवेश पटल
Name[nap]=Fenestra d''o Login
Name[nb]=Innloggingsvindu
Name[ne]=लगइन उइन्डो
Name[nl]=Aanmeldvenster
Name[oc]=Fenèstra de connexion
Name[pl]=Okno logowania
Name[pt]=Janela de início de sessão
Name[pt_BR]=Janela de Início de Sessão
Name[ro]=Fereastră de autentificare
Name[ru]=Окно входа в систему
Name[sc]=Bentana de imbucada
Name[sk]=Prihlasovacie okno
Name[sl]=Prijavno okno
Name[sq]=Dritarja e Hyrjes
Name[sr]=Прозор за пријаву
Name[sr@latin]=Prozor za prijavu
Name[sv]=Inloggningsfönster
Name[ta]=நுழைவுச் சாளரம்
Name[te]=లాగిన్ విండో
Name[th]=หน้าต่างการเข้าสู่ระบบ
Name[tr]=Giriş Ekranı
Name[uk]=Вікно входу в систему
Name[uz]=Tizimga kirish oynasi
Name[vi]=Màn hình đăng nhập
Name[zgh]=ⴰⵙⴰⵜⵎ ⵏ ⵓⴽⵛⴰⵎ
Name[zh_CN]=登录窗口
Name[zh_HK]=登入視窗
Name[zh_TW]=登入視窗
Comment=Configure the login window
Comment[am]=የ መግቢያ መስኮት ማሰናጃ
Comment[ar]=تكوين نافذة تسجيل الدخول
Comment[ast]=Configurar ventana de Login
Comment[be]=Канфігураваць акно ўваходу
Comment[bg]=Конфигуриране на прозореца за вписване
Comment[bn]=লগইন উইন্ডো কনফিগার করুন
Comment[br]=Kefluniañ ar prenestr kennaskañ
Comment[ca]=Configureu la finestra d'inici de sessió
Comment[ca@valencia]=Configureu la finestra d'inici de sessió
Comment[cs]=Nastavit přihlašovací okno
Comment[cy]=Ffurfweddu'r ffenestr mewngofnodi
Comment[da]=Konfigurér loginvinduet
Comment[de]=Das Anmeldefenster konfigurieren
Comment[el]=Ρυθμίστε το παράθυρο σύνδεσης
Comment[eo]=Agordi ensalutfenestron
Comment[es]=Configurar la ventana de inicio de sesión
Comment[et]=Sisselogimisakna seadistus
Comment[eu]=Konfiguratu saio hasierako leihoa
Comment[fa]=پیکربندی پنجره ورود به سیستم
Comment[fi]=Määritä kirjautumisen ikkuna
Comment[fr]=Configuration de l'écran de connexion
Comment[fr_CA]=Configuration de la fenêtre de connexion
Comment[ga]=Cumraigh an fhuinneog logála isteach
Comment[he]=תיצור חלון התחברות
Comment[hi]=लॉगिन विंडो विन्यस्त करें
Comment[hr]=Prilagodi zaslon prijave
Comment[hu]=Bejelentkezési ablak beállítása
Comment[ia]=Configurar le fenestra de connexion
Comment[id]=Konfigurasi jendela masuk
Comment[ie]=Personalisar li ecran de inicie
Comment[is]=Stilla innskráningargluggann
Comment[it]=Configura la schermata di accesso
Comment[ja]=ログイン画面を設定します
Comment[ka]=შესვლის ფანჯრის მორგება
Comment[kab]=Swel asfaylu n unekcum
Comment[ko]=로그인 창 설정
Comment[ku]=Têketina paceyê mîheng bike
Comment[la]=Fenestram ingressus muta
Comment[lt]=Konfigūruoti prisijungimo langą
Comment[nap]=Configura 'a fenestra d''o login
Comment[nb]=Konfigurér innloggingsvinduet
Comment[nl]=Aanmeldvenster instellen
Comment[oc]=Configurar la fenèstra de connexion
Comment[pl]=Konfiguruj okno logowania
Comment[pt]=Configurar janela de início de sessão
Comment[pt_BR]=Configure a janela de início de sessão
Comment[ro]=Configurare fereastră de autentificare
Comment[ru]=Настроить окно входа в систему
Comment[sc]=Cunfigura sa bentana de imbucada
Comment[sk]=Nastavenie prihlasovacieho okna
Comment[sl]=Prilagodite prijavno okno
Comment[sq]=Konfiguroni dritaren e hyrjes
Comment[sr]=Подесите прозор за пријаву
Comment[sr@latin]=Podesite prozor za prijavljivanje
Comment[sv]=Konfigurera inloggningsfönstret
Comment[te]=లాగిన్ విండోను కాన్ఫిగర్ చేయండి
Comment[th]=กำหนดค่าหน้าต่างการเข้าสู่ระบบ
Comment[tr]=Giriş ekranını yapılandır
Comment[uk]=Налаштування вікна входу в систему
Comment[uz]=Kirish oynasini sozlash
Comment[vi]=Cấu hình màn hình đăng nhập
Comment[zh_CN]=配置登录窗口
Comment[zh_HK]=配置登入視窗
Comment[zh_TW]=設定登入視窗
Exec=pkexec lightdm-settings
Icon=lightdm-settings
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;System;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-KDE-SubstituteUID=true
